<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Selenium Exception Handling Suite" verbose="1" parallel="false">

  <!-- Attach Custom Listener -->
  <listeners>
      <listener class-name="com.mrinal.selenium.exceptions.CustomListener"/>
  </listeners>

  <test name="ExceptionHandlingTests">
    <classes>
      <class name="com.mrinal.selenium.SeleniumExceptionsDemoTest"/>
      <class name="com.mrinal.selenium.GoogleTestWithReport"/>
      <class name="com.mrinal.selenium.DependencyTestExample"/>
    </classes>
  </test>

</suite>